header
{
    max-width: 100%;
    height:300px;
   /* background-image:url("aop.jpg");
    background-position:center;
    
    background-repeat:no-repeat;
    background-size:100%;*/
   background-color:#49c7a4;
    
}
.Titre
{
    margin-top:30px;
}

body
{
	/*border: 1px yellow dashed;*/
	background: rgba(220,220,220,1);
    /*background-image:url("aop.jpg");*/
    background-size:100%;
    background-repeat:no-repeat;

	text-align: left;
	width: 1500px;
	/*margin-left: auto;*/
	margin-right: auto;
}
nav
{
   
	/*border: 5px black dashed;*/
	float: left;
	/*margin-left: auto;*/
    margin-left:195px;
	margin-right: auto;
	width: 300px; 	
	/*background-color: rgba(235, 235, 235, 1);*/
    background-color:grey;
}


.menu
{
	font-weight: bold;
	font-size: 30px;
	color: red;	
	width: auto;
}
h1
{
    text-align:center;
    color:white;     
}
p
{
    color: blue;
}

#menu a:hover
{
	color: #ffffff;
	background: #000000;

}
/*#menu li:hover ul ul, #menu li.sfhover ul ul 
{
        left: -999em; 
}*/

#menu li:hover ul/*, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul*/ /*Permet de paramétrer le menu déroulant*/  
{
        left: auto; 
        min-height: 0; 
        background:grey;
}
#menu li ul
{
	position:absolute;
	width: 205px;
	left: -50em;
}

#menu li ul li
{
	/*border-top : 20px solid grey;*/

}

.pubgauche
{
    /*border: 2px grey dashed;*/
	float:left;
    top: 30px;
	height:100%;
	width: 195px; 	
    position:absolute;
    /*background-image:url("mac.png");*/
    background-repeat:no-repeat;
    background-size:100%;
    background-color:#004413;
    background-position-y:50%;

}
.pubdroite
{
    /*border: 2px grey dashed;*/
	float:right;
    top: 30px;
	height:100%;
	width: 195px; 	
	/*background-image:url("mac.png");*/
    background-position-x:50%;
    background-size:1000px;
    background-color:#004413;
    position:absolute;
    margin-left:1500px; /*1300 pixel - 195px*/
}















/*html>body #menu li ul li
{
	border-top : 1px solid transparent;
}*/



/*#menu li{
	overflow: hidden;
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all .3s;
}*/

/*a:hover
{
	text-decoration: underline;
	border: 10px red;
	font-size: 20px;
}*/